/*Author: Ernestas Cernys   */
/*Project: My Web Portfolio */

#main-header {
  background: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.9)), url(/my-portfolio/images/header2.jpg) center/ cover no-repeat ;
  color: aliceblue;
}

.tech-image img {
  width: 80px;
  max-height: 80px;
  padding: 1rem;
}

.separator {
  height: 1px;
  width: 90vw;
}

@media (min-width: 768px) {
  .separator {
    transform: rotate(90deg);
    width: 20px;
  }

}
