/*Author: Ernestas Cernys   */
/*Project: My Web Portfolio */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  border: 1px solid red ; */
}

html {
  scroll-behavior: smooth;
}

/*                        NAVIGATION MENU                                     */

/*Check-box transformation and position*/

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;

}

/*Hamburger box*/

.nav-bar .menu-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  outline: 2px solid aliceblue;
  background-color: rgb(29, 50, 81);
  width: 40px;
  height: 40px;
  padding: 0.5em;
}

/* Hamburger line */

.nav-bar .menu-icon .hamburger {
  position: relative;
  height: 2px;
  width: 100%;
  background: aliceblue;
  transition: all 0.4s ease;
}

/* Hamburger top and bottom line */

.nav-bar .menu-icon .hamburger:before, .nav-bar .menu-icon .hamburger:after {
  background: inherit;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
}

/* Move Hamburger top line */

.nav-bar .menu-icon .hamburger:before {
  top: -6px;
}

/* Move Hamburger top line */

.nav-bar .menu-icon .hamburger:after {
  top: 6px;
}

/* Hamburger animation */

#menu-button:checked+.menu-icon>.hamburger {
  transform: rotate(45deg);
}

/* turns to X*/

#menu-button:checked+.menu-icon>.hamburger:before, #menu-button:checked+.menu-icon>.hamburger:after {
  top: 0;
  transform: rotate(90deg);
}

/* Navigation links formating */

.nav-bar ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 8px;
  top: 52px;
  box-shadow: 0px 4px 4px black;
  max-height: 0;
  transition: max-height .4s ease;
  list-style: none;
  overflow: hidden;
  background-color: rgb(29, 50, 81);
}

.nav-bar ul li {
  text-align: center;
  padding: 0.5em;
  border-top: 1px solid aliceblue;
}

.nav-bar ul a {
  text-decoration: none;
  color: aliceblue;
}

.nav-bar ul li:first-of-type {
  border-top: 0;
}

/* Show menu items*/

#menu-button:checked+.menu-icon+ul {
  max-height: 200px;

}

/*                                 HEADER                                     */

.header {
  background-color: rgb(29, 50, 81);
  display: flex;
  align-items: center;
  height: 250px;
  padding-left: 1em;
}

.photo_name_container {
  display: flex;
}

.name_scholarship_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
  padding-right: 2em;
}

.header .profile-photo {
  height: 150px;
  padding: 7px;
  background-color: rgb(173, 185, 202);
}

h1 {
  color: rgb(205, 237, 218);
  font-family: Rockwell;
  font-weight: 500;
  border-bottom: 1px solid aliceblue;
  padding-bottom: 0.5em;
  margin-right: 1em;
}

.main_scholarship {
  color: aliceblue;
  font-family: corbel;
  letter-spacing: 6px;
  padding-right: 2em;
}

/*                                  MAIN                                      */

main {
  font-family: corbel;
  display: flex;
  flex-direction: column;
}

section {
  margin-left: 1em;
  padding-right: 1em;
}

.title {
  color: rgb(31, 73, 125);
  font-style: italic;
  font-weight: bold;
  border-top: 1em solid rgb(205, 237, 218);
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid grey;
  margin-left: 0;
  padding-left: 2em;
  font-size: x-large;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}

.expierence {
  margin-top: 2em;
  padding-left: 1em;
  font-size: larger;
}

article {
  margin-bottom: 1em;
}

.cours_title {
  font-size: larger;
}

.organization {
  margin-bottom: 1em;
  font-style: italic;
  font-weight: bold;
}

p, em {
  font-weight: 900;
}

.skills {
  background-color: rgb(106, 116, 126);
  color: rgb(205, 237, 218);
  margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
  margin-left: 0;
}

.main_skills {
  font-size: larger;
  font-weight: bolder;
}

.skills dt {
  padding-bottom: 1em;
}

.skills dt:last-of-type {
  padding-top: 1em;
}

h4 {
  font-size: larger;
}

.contacts {
  background-color: rgb(230, 230, 230);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  margin-left: 0;
  order: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}

.contacts img {
  height: 20px;
  padding-right: 0.5em;
}

.contacts p {
  margin-bottom: 0.5em;
  display: flex;
}

.skills, .education, .contacts {
  align-self: stretch;
  text-align: center;
}

footer {
  background-color: rgb(205, 237, 218);
  padding-bottom: 2em;
}

/*                          MIN-WIDTH 768PX                                   */

@media (min-width: 768px) {

  .skills {
    line-height: 1.5em;
  }

}

/*                          MIN-WIDTH 992PX                                   */

@media (min-width: 992px) {

  /*Skills and education to two columns*/

  .skills-education {
    display: flex;
  }

  /*Education style change*/
  .education {
    flex-grow: 1;
    padding-top: 1em;
    background-color: rgb(106, 116, 126);
    color: rgb(205, 237, 218);
    line-height: 1.5em;
  }

  .skills, .education {
    margin-bottom: 0;
    width: 50%;
  }

  /*        Hamburger menu change to horizontal navigation bar                */

  .nav-bar {
    position: fixed;
    background-color: rgb(29, 50, 81);
    ;
    width: 100%;
    height: 40px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
  }

  .menu-button, .nav-bar .menu-icon, .hamburger {
    display: none;
  }

  .nav-bar ul li {
    padding: 0em 1em;
    border-top: 0;
    margin-top: 10px;
    border-right: 1px solid aliceblue;

  }

  .nav-bar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 1s ease-out;
  }

  .nav-bar ul li:last-of-type {
    border-right: 0;
  }

  .nav-bar ul {
    flex-direction: row;
    top: 0;
    box-shadow: none;
    max-height: min-content;
  }

  .cv-header {
    padding-top: 40px;
  }

}

/*                          MIN-WIDTH 1200PX                                  */

@media (min-width: 1200px) {

/*                     Two column on whole page design                        */

/*Contacts to top left position*/
  .contacts {
    order: 0;
    align-items: baseline;
  }

  .skills-education {
    display: block;
    width: 30%;
  }

  .education {
    background-color: white;
    color: black;
  }

  .skills, .education, .contacts {
    text-align: left;
    width: auto;
  }

  main {
    display: flex;
    flex-flow: column wrap-reverse;
    height: 800px;
    align-content: flex-end;
  }

  .expierence {
    border-left: 2px solid grey;
    padding-left: 2em;
    width: 60%;
  }

  section {
    margin-left: 2em;
  }

}
